footer {
	background: #000000;
	color: #d1d1d1;
	list-style: none;
	margin: 150px 0;
}

footer p {
	padding: 40px 0;
	text-align: center;
}

footer p a {
	text-decoration: none;
	color: white;
}

footer p a:hover {
	color: rgb(236, 214, 14);
}