body{
	font-family: 'Roboto Slab', serif;
	background-image: linear-gradient(to right, green, orange);

}
.container{
	background: rgba(255, 255, 255, 0.5);
	width: 1000px;
	height: 330px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 0 8px 3px #fff;
	border: 1px solid green;
	padding: 20px
}
.title{
	padding-top: 20px;
	text-align: center;
	color: green;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}
.question{
	padding: 20px;
	font-size: 22px;
	background: green;
	border-radius: 20px;
	margin: 10px 0;
	color: #f6f6f6;
	text-align: center;
}
.opt{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	vertical-align: middle;
	margin: 10px 0 10px 10px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	color: #000
}
.option:hover{
	background: orange;
	color: #f6f6f6
}
.next-btn{
	float: right;
	border: none;
	outline: none;
	background: green;
	width: 130px;
	height: 35px;
	border-radius: 20px;
	cursor: pointer;
	margin: 10px;
	font-weight: bold;
	color: white;
}
.next-btn:hover{
	background: orange;
	color: #f6f6f6
}
.result{
	height: 100px;
	text-align: center;
	font-size: 75px;
}
.option input:checked .option{
	background: #08038c;
	color: #f6f6f6
}
