body{
	background-color:gray;
}
.cal{
	border: 2px solid rgb(66, 66, 66);
	border-radius: 10px 10px 10px;
	box-shadow:10px 10px 10px rgb(0, 0, 0);
	width: 650px;
	margin: 0 auto !important;
	text-align: center;
	padding-bottom: 10px;
	background-color: teal;
}
.result{
	width: 91%;
	margin: 15px 5px;
	height: 70px;
	border: 5px solid rgb(68, 64, 64);
	border-radius: 10px 10px 10px;
	font-size: 70px;
	padding: 15px 15px 15px;
	color: green;
	font-weight: bold;
	text-align: right;
}
.btn{
	width: 145px;
	height: 100px;
	border-radius: 10px 10px 10px;
	font-size: 60px;
	font-weight: bold;
	margin-top: 10px;
}
.white{
	background-color: white;
}
.btn-div{
	margin-top: 15px;
}
.red{
	background-color: rgb(196, 42, 42) !important;
}
.grey{
	background-color: gray;
}
.cursor{
	cursor: pointer;
}
.clr-w{
	color: white;
}
h2{
	color: white;
	text-align: center;
	border: 2px solid red;
	display: inline-block;
}




section, footer {
background: #1A1E25;
color: #868c96;
}


footer{
	list-style: none;
	margin: 0 0;
}

footer p {
	padding: 40px 0;
	text-align: center;
}

footer p a{
text-decoration: none;
color: white;
}
footer p a:hover{
	color: teal;
	}