body{
  background-color: #282c34;
  color: white;
  text-align: center;
}
li{
  list-style: none;
}
h2{
  background-color: white;
  color: #282c34;
}
button{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #282c34;
  width: 100px;
}

input{
  padding: 5px;
  font-size: 15px;
}
button:disabled{
  color: grey;
  cursor: no-drop;
}
b{
  color: chartreuse;
}