body{
  text-align: center;
}
.container{
  display: inline-block;
  width: 40%;
  background-color: goldenrod;
  padding: 70px 0px;
  border-radius: 10px;
  margin: 100px auto;
}
input{
  font-size: 15px;
  caret-color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 10px 10px;
}
b{
  color: white;
  font-size: 20px;
}
button{
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
h1{
  color: white;
}
@media screen and (max-width: 500px) {
  .container{
    width: 95%;
  }
}