body{
  text-align: center;
}
.container{
  display: inline-block;
  width: 500px;
  background-color: goldenrod;
  padding: 50px 50px;
  border-radius: 10px;
  margin: 50px auto;
  clear: both;
  text-align: center;
}
input{
  font-size: 15px;
  caret-color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 10px 10px;
  width: 50%;
  clear: both;
}
b{
  color: white;
  font-size: 20px;
}
button{
  width: 100px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: goldenrod;
  border: 1px solid goldenrod;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
h1{
  color: white;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px) {
  .container{
    width: 95%;
    padding: 10px;
    margin: 20px;
    width: 80%;
  }
}
p{
  color: white;
}
a{
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 3px;
}
a:hover{
  background-color: white;
  color: goldenrod;
}